/*
=============== 
Global
===============
*/

@font-face {
  font-family: 'Fold Grotesque';
  src: url(../fonts/fold-grotesque-regular-trial.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fold Grotesque';
  src: url(../fonts/fold-grotesque-bold-trial.otf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fold Grotesque';
  src: url(../fonts/fold-grotesque-italic-trial.otf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fold Grotesque';
  src: url(../fonts/fold-grotesque-bold-italic-trial.otf);
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: inherit;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

:root {
  --border-radius: 4px;
  --color-text: #000;
  --primary-font: 'Fold Grotesque', 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 5vw;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
  --body-max-width: clamp(590px, 50%, 1480px);
}

@media screen and (max-width: 600px) {
  :root {
    --body-max-width: 100%;
    --space-5: 16px;
  }
}

html {
  font-family: var(--primary-font);
}

strong {
  font-weight: 600;
}

p,
h1,
h2 {
  margin-bottom: var(--space-4);
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

.figcaption {
  font-size: 80%;
  text-align: right;
  margin-top: var(--space-2);
}

/*
=============== 
Header
===============
*/

header {
  padding: var(--space-5);
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.header-link {
  margin: 0 var(--space-2);
  border: 1px solid #000;
  padding: var(--space-1) var(--space-2);
  display: flex;
  align-items: center;
  white-space: nowrap;
  background: #fff;
  transition: all 400ms;
}

.header-link:hover {
  color: #fff;
  background: #000;
  transition: all 400ms;
}

.active-header-link {
  color: #fff;
  background: #000;
  transition: all 400ms;
}

.elipsis {
  font-size: 50%;
}

/*
=============== 
Home
===============
*/

.home-container {
  display: flex;
  padding: var(--space-5);
  padding-top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-container-list {
  padding: var(--space-5);
  padding-top: 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 33%;
  transition: all 400ms;
  margin-bottom: var(--space-4);
}

.project-card-content {
  padding: var(--space-2);
  transition: all 400ms;
}

.project-card-content:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  transition: all 400ms;
}

.project-card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card-img {
  height: 100%;
}

.octopus-icon {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  height: 3vw;
  width: 3vw;
  z-index: 1000;
}

.project-card-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.project-card-title {
  font-weight: bold;
  margin-bottom: 0;
}

.project-card-category {
  border: 1px solid #000;
  padding: 5px;
  font-size: var(--font-sm);
}

.page-container {
  padding: var(--space-5);
  padding-top: 0;
}

.two-even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);
}

.two-columns-right-heavy {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-3);
}

.two-columns-left-heavy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-3);
}

.three-even-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
}

.four-even-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-3);
}

.module-text-container,
.in-text {
  width: var(--body-max-width);
  margin: var(--space-5) auto;
}

.full-bleed {
  width: 100%;
  margin: var(--space-5) 0;
}

.image-prev,
.image-next {
  position: absolute;
  width: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.image-next {
  right: 0;
}

.work-slides,
.work-slides-container {
  max-height: 56.25vw;
}

.work-slide-img-container {
  display: flex;
  justify-content: center;
  padding: 0 var(--space-5);
  height: 100%;
}

.work-slide-img {
  height: 100%;
}

.project-heading-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: var(--space-5);
  margin-top: var(--space-4);
}

.project-heading-title {
  text-align: center;
  font-size: 150%;
}

.project-heading-date {
  text-align: right;
}

.project-intro-text {
  width: var(--body-max-width);
  margin: var(--space-5) auto;
}

.about-headshot-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
}

.about-headshot {
  max-width: 80%;
}

.about-name {
  text-align: center;
}

.about-biography {
  width: var(--body-max-width);
  margin: var(--space-5) auto;
}

.about-list-title {
  font-weight: bold;
  font-size: 150%;
}

.about-list-container {
  padding-left: 25%;
}

.about-list-item {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
}

.about-list-item p:last-of-type {
  text-align: right;
}

.contact-title {
  text-align: center;
}

.contact-info-container {
  width: var(--body-max-width);
  margin: var(--space-5) auto;
}

.contact-info-container > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.project-list-header,
.project-list-row {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
}

.project-list-header {
  padding-bottom: var(--space-4);
}

.project-list-header-btn {
  font-weight: bold;
  font-size: 150%;
  text-align: left;
}

.project-list-row {
  border-bottom: 1px solid #000;
  padding: var(--space-2) 0;
}

.hero-video-container {
  position: relative;
  aspect-ratio: 16 / 9;
}

.video-module-container {
  margin: var(--space-5) 0;
}

.expand-container {
  display: flex;
  overflow: hidden;
}
